
.zero{
	border-collapse: collapse;

    border: 15px solid gray;
    width: 100%;

}

TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}
TH {
    background: #b0e0e6; /* Цвет фона */
}


body {
    background-image: url(bg_352383.png);
}

::selection {background: #981181; color:#fff;}
::-moz-selection {background: #981181; color:#fff;}
::-webkit-selection {background:#981181; color:#fff;}

.one{
    width: 30%;
    height: 100%;

}
.two {
    width: 100%;
    height: 100%;
    border: grey;
}

.three {
    height: 100px;
    text-align: center;
}

.actual{
    border: 5px solid #981181;
    width: 100%;
    height: 100%;

}

td.one:hover {
    background-color: rgba(199, 199, 199, 0.3);
}



p{
    color: gray;
    margin: 5px;
}

.news {
    background-color: lightcoral;
    border-radius: 15px;
    padding: 5px;
}

.news ol li {
        margin: 10px;


}

.homework {
    background-color: #d6f9d9;
    border: 1px solid black; /* Рамка вокруг таблицы */

}

.homework tr td {
    padding: 5px; /* Поля вокруг содержимого ячейки */
}

.odd {
    background-color: #a6f9d9;
}

.session {
    background-color: #fff6bc;
    border: 1px solid black; /* Рамка вокруг таблицы */

}

.session tr td {
    padding: 5px; /* Поля вокруг содержимого ячейки */
}

.odd2 {
    background-color: #fffde1;
}
